services:

  apigateway:
    image: ghcr.io/krazlo/apigateway:latest
    build:
      context: .
      dockerfile: ./src/ApiGateway/Dockerfile
    container_name: apigateway
    ports:
      - "5000:8080" 
    depends_on:
      - stockdataservice
      - aianalysis

  stockdataservice:
    image: ghcr.io/krazlo/stockdataservice:latest
    build: 
      context: .
      dockerfile: ./src/StockDataService/Dockerfile
    container_name: stockdataservice
    ports:
      - "5001:8080"
    environment:
      - EODHD__ApiKey=${EODHD_API_KEY}

  aianalysis:
    image: ghcr.io/krazlo/aianalysis:latest
    build: 
      context: .
      dockerfile: ./src/AIAnalysisService/Dockerfile
    container_name: aianalysis
    ports:
      - "5002:8080"
    environment:
      - Gemini__ApiKey=${GEMINI_API_KEY}

  uiapp:
    image: ghcr.io/krazlo/uiapp:latest
    build: 
      context: .
      dockerfile: ./src/UIApplication/Dockerfile
    container_name: uiapp
    ports:
      - "5003:8080"
    depends_on:
      - apigateway
      - mssql
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
  
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "YourStrong(!)Password"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

  minio:
    image: minio/minio
    container_name: minio
    ports:
      - "9000:9000"   # S3 API
      - "9001:9001"   # Web UI
    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: supersecretpassword
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
      

volumes:
  mssql_data:
  minio_data:
