services:

  apigateway:
    image: ghcr.io/krazlo/apigateway:latest
    build: ./src/ApiGateway
    container_name: apigateway
    ports:
      - "5000:8080" 
    depends_on:
      - stockdataservice
      - aianalysis

  stockdataservice:
    image: ghcr.io/krazlo/stockdataservice:latest
    build: ./src/StockDataService
    container_name: stockdataservice
    ports:
      - "5001:8080"
    environment:
      - EODHD__ApiKey=${EODHD_API_KEY}

  aianalysis:
    image: ghcr.io/krazlo/aianalysis:latest
    build: ./src/AIAnalysisService
    container_name: aianalysis
    ports:
      - "5002:8080"
    environment:
      - Gemini__ApiKey=${GEMINI_API_KEY}

  uiapp:
    image: ghcr.io/krazlo/uiapp:latest
    build: ./src/UIApplication
    container_name: uiapp
    ports:
      - "5003:8080"
    depends_on:
      - apigateway
      - mssql
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
  
  mssql:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: mssql
    environment:
      ACCEPT_EULA: Y
      SA_PASSWORD: "YourStrong(!)Password"
    ports:
      - "1433:1433"
    volumes:
      - mssql_data:/var/opt/mssql

volumes:
  mssql_data:
