services:

  apigateway:
    build: ./src/ApiGateway
    container_name: apigateway
    ports:
      - "5000:8080" 
    depends_on:
      - stockdataservice
      - aianalysis

  stockdataservice:
    build: ./src/StockDataService
    container_name: stockdataservice
    ports:
      - "5001:8080"
    environment:
      - AlphaVantage__ApiKey=${ALPHAVANTAGE_API_KEY}
      - ConnectionStrings__DefaultConnection=server=mysql_stockdata;port=3306;database=stockdata;user=stockuser;password=stockpassword
    depends_on:
      - mysql_stockdata

  aianalysis:
    build: ./src/AIAnalysisService
    container_name: aianalysis
    ports:
      - "5002:8080"
    environment:
      - Gemini__ApiKey=${GEMINI_API_KEY}
      - ConnectionStrings__DefaultConnection=server=mysql_aianalysis;port=3307;database=aianalysis;user=aianalysisuser;password=aianalysispassword
    depends_on:
      - mysql_aianalysis

  uiapp:
    build: ./src/UIApplication
    container_name: uiapp
    ports:
      - "5003:8080"
    environment:
      - ConnectionStrings__DefaultConnection=server=mysql_uiapp;port=3308;database=uiapp;user=uiappuser;password=uiapppassword
    depends_on:
      - apigateway
      - mysql_uiapp

  ## Database Services
  mysql_stockdata:
    image: mysql:8.3
    container_name: mysql_stockdata
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: stockdata
      MYSQL_USER: stockuser
      MYSQL_PASSWORD: stockpassword
    ports:
      - "3306:3306"
    volumes:
      - mysql_stockdata_data:/var/lib/mysql

  mysql_aianalysis:
    image: mysql:8.3
    container_name: mysql_aianalysis
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: aianalysis
      MYSQL_USER: aianalysisuser
      MYSQL_PASSWORD: aianalysispassword
    ports:
      - "3307:3306"
    volumes:
      - mysql_aianalysis_data:/var/lib/mysql

  mysql_uiapp:
    image: mysql:8.3
    container_name: mysql_uiapp
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: uiapp
      MYSQL_USER: uiappuser
      MYSQL_PASSWORD: uiapppassword
    ports:
      - "3308:3306"
    volumes:
      - mysql_uiapp_data:/var/lib/mysql

    
volumes:
  mysql_stockdata_data:
  mysql_aianalysis_data:
  mysql_uiapp_data:
