services:

  apigateway:
    build: ./src/ApiGateway
    container_name: apigateway
    ports:
      - "5000:8080" 
    depends_on:
      - stockdataservice
      - aianalysis

  stockdataservice:
    build: ./src/StockDataService
    container_name: stockdataservice
    ports:
      - "5001:8080"
    environment:
      - AlphaVantage__ApiKey=${ALPHAVANTAGE_API_KEY}

  aianalysis:
    build: ./src/AIAnalysisService
    container_name: aianalysis
    ports:
      - "5002:8080"
    environment:
      - Gemini__ApiKey=${GEMINI_API_KEY}

  uiapp:
    build: ./src/UIApplication
    container_name: uiapp
    ports:
      - "5003:8080"
    depends_on:
      - apigateway