name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

permissions:
  contents: read
  packages: write

jobs:
  build-test-docker-sbom:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore --configuration Release

    - name: Test
      run: dotnet test --no-build --configuration Release

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.17'

    - name: Generate SBOM
      uses: CycloneDX/gh-gomod-generate-sbom@v2
      with:
        version: v1
        args: mod -licenses -json -output bom.json
    
    - name: Upload SBOM as Artifact
      uses: actions/upload-artifact@v2
      with:
        name: SBOM
        path: bom.json
    
    - name: Commit SBOM to Repository
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add bom.json
        git commit -m "Update SBOM" || echo "No changes to commit"
        git push

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker images
      run: docker compose build

    - name: Install Syft
      uses: anchore/sbom-action/download-syft@v0.15.11

    - name: Generate Docker image SBOM
      run: |
        mkdir -p sbom
        syft ghcr.io/Krazlo/apigateway:latest -o cyclonedx-json=sbom/apigateway.json
        syft ghcr.io/Krazlo/stockdataservice:latest -o cyclonedx-json=sbom/stockdataservice.json
        syft ghcr.io/Krazlo/aianalysis:latest -o cyclonedx-json=sbom/aianalysis.json
        syft ghcr.io/Krazlo/uiapp:latest -o cyclonedx-json=sbom/uiapp.json

    - name: Upload SBOM artifacts
      uses: actions/upload-artifact@v4
      with:
        name: sbom-artifacts
        path: sbom/